---
version: 2.1

orbs:
  docker: aengelas/docker@volatile

workflows:
  build_and_push:
    jobs:
      - docker/build-test-push:
          namespace: brownjohnf
          project: alpine
          test_command: which vim
          test_target: main
          path: alpine

